/*css for the like icon*/
.unlike {
  color: red;
}

/*css for card container */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/*css for individual cards when displayed*/
.dispBlock {
  display: block;
  width: 50%;
}

/*css to hide the cards while searching */
.dispNone {
  display: none;
}
