.login-card{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	
	
}
.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}