.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*css for helper text*/
.dispNone {
  display: none;
}

/*css for helper text*/
.dispBlock {
  display: block;
}

/*css for helper text*/
.red {
  color: red;
}
